# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.6
    - CONFIG=osx_python3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "IV06TAzCei4wAZMCyq4MfF+A3Mv+ppsc1msrXYNENOLv9mL872lABW74aonHI3QSc38OL1ggooPrRVpPSVkLHqXYCUtL4BArSZI7w/6DO4RaQxnWjNtPnav5mGAU1wLmYjfvlcm1dTxsUF0eKlK0ExBOYYGcAfj4RYt/XlVRbl6yRokR47uabk9YRgESB0zQPz7ZiE/rp3d9pQDhMB0LDpHlmtOaB9p+tJBJ4JXxip8Mtw51yszrCjLUraOjBK89NdLChKTiWg/80svnpi/KLvMHwu/cFidiWzFLZlLk9M+Wyv/Jb4ZAd87dCegfMorNRs2e6Fnbhf+XuKvTsEpRD/yYbLcKtrdo+p8oynRWCgdjfjVMJOchXpqyXdAF/B0dvz5wKFpPJRTVS2slVun/+3Tk3oHXSRcmuQh20yRcKmxCsmOUgesMPdIalGl7mMb5PABP7dNfei3M3FCzg/O5nDCcsSSGBZ3ibtPh7y3T0UZtjM+N6tOJXTH+1e6a6WDBUVCiG40ycZWcBhyUf/sjA14UJcS14IZqabDCI69GRmedfCvheKI3/CickGfqPfW1L9iCmnXz5HjyfDhYTHUqX6Dlh4kIM9bUWEK7o713LMuJikin0YnIKDn8ijLb97FyBZaDHrknUcx7JA0Z3uEqCgXY1kScbnJsbCIo8UfATpw="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml